button {
  cursor: pointer;
  transition: 300ms;
  &:hover {
    background: rgb(32, 32, 32);
    color: rgb(178, 178, 178);
  }
}

%centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
  height: 100vh;
  width: 100vw;
  @extend %centered;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 615px;
  height: 615px;
}

.box {
  height: 190px;
  width: 190px;
  background-color: rgb(178, 178, 178);
  @extend %centered;

  h1 {
    position: absolute;
    color: black;
  }
}
.winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30rem;
  // @extend %centered;
  // flex-direction: column;
  text-align: center;
  h1 {
    margin: {
      bottom: 17%;
      top: 26%;
    }

    font-size: 5rem;
  }
  button {
    border: none {
      radius: 2rem;
    }
    padding: 1rem;
    margin-right: 3%;
    transition: 300ms;
    font: {
      size: 1.5rem;
      weight: bolder;
    }
  }
}

.score-container {
  position: absolute;
  left: 5%;
  bottom: 10%;
  @extend %centered;
  flex-direction: column;
  div {
    @extend %centered;
    flex-direction: column;
    border: 3px solid rgb(178, 178, 178) {
      radius: 2rem;
    }
    padding: 1rem;
    margin: 1rem;
  }
  h2 {
    display: none;
  }
}

.game-mode {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  @extend %centered;
  flex-direction: column;
  button {
    width: 12rem;
    border: 5px solid rgb(32, 32, 32) {
      radius: 2rem;
    }
    margin: 1rem;
    padding: 1rem;
    font: {
      size: 1.2rem;
      weight: bolder;
    }
    background-color: whitesmoke;

    &:hover {
      background: rgb(32, 32, 32);
      color: rgb(178, 178, 178);
    }
  }

  .current-mode {
    background-color: rgb(32, 32, 32);
    color: rgb(178, 178, 178);
    border: 5px solid rgb(178, 178, 178);
  }
}

.player {
  position: absolute;
  top: 10%;
  left: 3%;
  @extend %centered;
  flex-direction: column;
}
.select-player {
  background-color: rgb(178, 178, 178);
  width: 4rem;
  height: 2rem;
  border-radius: 25% / 50%;
  margin-top: 1.5rem;
  cursor: pointer;
  button {
    height: 2rem;
    width: 2rem;
    border: 3px solid rgb(32, 32, 32) {
      radius: 50%;
    }
    transition: 400ms;
    &:hover {
      background-color: whitesmoke;
    }
  }
}

@media screen and (max-width: 1200px) {
  .App {
    transform: scale(0.9);
  }

  .grid-container {
    transform: scale(0.7);
  }

  .score-container {
    left: 0%;
  }

  .game-mode {
    right: 0%;
  }

  .player {
    left: 0%;
  }
}

@media screen and (max-width: 900px) {
  .App {
    height: 120vh;
  }
  .grid-container {
    transform: scale(0.6);
  }
  .score-container {
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    left: 0%;
    bottom: 15%;
    h1 {
      display: none;
    }
    h2 {
      display: block;
    }
    div {
      flex-direction: row;
    }
  }
  .score {
    margin-left: 7px;
  }
  .game-mode {
    width: 100vw;
    flex-direction: row;
    right: 0%;
    top: 10%;
    transform: translateY(0%);
  }
  .player {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: -3%;
  }
}
